.app {
  background-color: var(--bg-main);
  min-height: 100vh;
  width: 100%;
  color: white;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app > div:nth-child(odd) {
  background-color: var(--bg-white);
  color: var(--bg-main);
}

.app .subtitle {
  font-size: min(max(2rem, 5vw), 3rem);
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
}

.dialogWrapper.MuiDialog-root .MuiPaper-root {
  position: absolute !important;
  top: 8px;
}

.dialogWrapper .MuiDialogTitle-root {
  background-color: var(--bg-light);
}

.dialogWrapper .MuiIconButton-root,
.dialogWrapper .MuiIconButton-root:hover {
  background-color: var(--bg-white);
}

